*{
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.gallery_items {
    margin: 50px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.gallery_item {
    text-align: center;
    background-color: wheat;
    box-shadow: 0 4px 8px 0 (0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    &_image {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
    &_video {
        width: 100%;
        max-width: 330px;
        height: 250px;
    }
    &__title {
        padding: 20px 0;
    }
}
